@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
.cardBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #fbfbfb;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(35, 35, 35, 0.08);
  align-items: center;
  justify-content: space-evenly;
  padding: 10% 10%;
}

.cardTitle {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
.cardSubtitle {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}

.cardInfo {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 64px;
  text-align: center;
}

.cardImgDesktop {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.cardImgTablet {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}
.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #e4e9f2;
  opacity: 1 !important;
}

.carousel-indicators .active {
  background-color: #8f9bb3;
}
/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cardImgDesktop {
    display: none;
  }
  .cardImgTablet {
    display: flex;
  }
}
/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cardImgDesktop {
    display: flex;
  }
  .cardImgTablet {
    display: none;
  }
}
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
