
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.title {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}

.paragraph {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: start;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  display: none;
}

.cardContainer {
  box-sizing: border-box;
  border: 1px solid #fbfbfb;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(35, 35, 35, 0.08);
  padding: 10% 8%;
  height: 100%;
  text-align: center
}

.cardTitleHero {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center !important;
}

.cardParagraph {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center
}

.desktopAndTablet {
  display: none;
}

.mobile {
  display: flex;
}

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .imageContainer {
    display: flex;
  }
  .desktopAndTablet {
    display: flex;
  }
  .mobile {
    display: none;
  }
}
/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .desktopAndTablet {
    display: flex;
  }
  .mobile {
    display: none;
  }
}
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .desktopAndTablet {
    display: flex;
  }
  .mobile {
    display: none;
  }
}
