.iconStyle {
  background-color: #507eff;
  box-sizing: border-box;
  height: 57px;
  width: 57px;

}

.iconContainer {
  display: flex;
  flex-direction: row;
}

.avatar-focused {

  border: 2px solid #0095ff !important;
}

.itemImage {
  animation-timing-function: linear;
  position: relative;
  animation:   0.8s linear  animatetop
  
}



.avatarAlt {
  padding: 6px;
  box-sizing: border-box;
  height: 57px;
  width: 57px;
  border-radius: 100%;
  border: 2px solid transparent;
}



@keyframes animatetop {
  

  0% {  left: -80px; opacity: 0;}
  /* 25%{  left: -50px;}
  50%{ left: -25px;}
  75%{ left: -10px;}
  85%{ left: -5px;}
  95%{ left: -2px;} */
  100%{  left: 0; opacity: 1;}
}