@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.curveBackground{
    background-image: url('../../../static/curveBackground.png');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
}
.imgMobile{
    display: none;
}
.imgTablet{
    display: none;
}
.imgDesktop{
    display: none;
}
/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}