@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.body {
  min-height: 100vh;
  position: relative;
}
.leftContent {
  z-index: 10;
  padding: 0px 15px;
}
.header {
  margin: 15px;
}
.footer-Text {
  float: right;
}
.background_mobile {
  max-width: 100%;
}
.img_mobile {
  max-width: 150%;
  position: relative;
  top: -5vh;
  float: right;
}
.curva_mobile {
  max-width: 100%;
  top: 95vh;
  float: inline-end;
  position: absolute;
  float: right;
}
.buttonTitle {
  color: #ffffff;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: bold;
  line-height: 24px;
}
.buttonError {
  background-color: #3333ff;
  border-color: #3333ff;
  border-radius: 34px;
  padding: 16px 24px 16px 24px;
  margin-left: 24;
}
.title {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
}
.titleError {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  padding-left: 10;
}
.title32px {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}
.footer {
  padding: 0px 15px;
  height: 13vh;
  position: absolute;
  width: 100%;
}
.subTitle {
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  color: #222b45;
  text-align: left;
}

.separator {
  border-top: 1px solid #e4e9f2;
}

.footerText {
  color: #8f9bb3;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  align-items: center !important;
}
.logoHeader {
  width: 135px;
  height: 42px;
}
.logoFooter {
  width: 40px;
  height: 40px;
}

.logoOops {
  margin-bottom: -63px;
}
.footersectiontext {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
}
.footersectiontextbold {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.title {
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}

.paragraph {
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}

.background_mobile {
  z-index: -1;
}
.img_mobile {
  z-index: -1;
}

.background_tablet {
  z-index: 10;
  max-width: 100%;
  position: relative;
}
.curveBackground {
  padding-top: 5%;
}

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .background_mobile {
    display: none;
  }
  .background_tablet {
    max-width: 100%;
    position: relative;
    float: right;
  }
  .img_mobile {
    display: none;
  }
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .curveBackground {
    background-image: url("../../static/curveBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
  }
  .footerText {
    text-align: right;
  }
}
/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .curveBackground {
    background-image: url("../../static/curveBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
  }

  .header {
    margin: 40px;
    margin-bottom: 0px;
  }
  .logoHeader {
    width: 200px;
    height: 42px;
  }

  .footer {
    padding: 0px 40px;
  }
  .footerText {
    text-align: right;
  }
  .logoFooter {
    width: 60px;
    height: 60px;
  }
}
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .curveBackground {
    background-image: url("../../static/curveBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
  }
  .title {
    font-size: 36px;
  }
  .leftContent {
    width: 54%;
    margin: auto;
  }
  .background_tablet {
    max-width: 80%;
    position: relative;
    float: right;
  }
  .footerText {
    text-align: right;
  }
}
