@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.body {
  min-height: 100vh;
  position: relative;
}

input::placeholder {
  color: #8f9bb3 !important;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
}

.leftContent {
  z-index: 10;
  padding: 0px 15px;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(216, 216, 216, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cursorPointer:hover {
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  padding: 24px 24px 24px 40px;
  min-height: 90px;
  border: 1px solid #fbfbfb;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(35, 35, 35, 0.08);
}

.footer-Text {
  float: right;
}

.background_mobile {
  max-width: 100%;
}

.getContainer {
  border-radius: 10px;
  background-color: #3333ff;
  box-shadow: 0 10px 20px 0 rgba(35, 35, 35, 0.08);
  width: 95%;
  padding: 2% 0%;
}

.getTitle {
  color: white;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}

.getParagraph {
  color: white;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: lighter;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: unset !important;
}

.title {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}

.title32px {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}

.subtitle22px {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
}

.footer {
  height: 13vh;
  position: absolute;
  width: 100%;
}

.subTitle {
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  color: #222b45;
  text-align: left;
}

.separator {
  border-top: 1px solid #e4e9f2;
}

.scroll {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  color: #222b45;
  text-align: center;
  margin: auto;
  transition: transform 0.5s;
}

.scrollIcon {
  cursor: pointer;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}

@keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}

@keyframes scrollIcon {
  0% {
    height: 40px;
  }

  30% {
    height: 70px;
  }

  60% {
    height: 40px;
  }
}

@-webkit-keyframes scrollIcon {
  0% {
    height: 40px;
  }

  30% {
    height: 70px;
  }

  60% {
    height: 40px;
  }
}

.footerText {
  color: #8f9bb3;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;

  align-items: center !important;
}

.logo {
  max-width: 100%;
}

.logoHeader {
  width: 135px;
  height: 42px;
}

.logoFooter {
  width: 40px;
  height: 40px;
}

.footersectiontext {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
}

.footersectiontextbold {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.title {
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}

.paragraph {
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}

.background_mobile {
  z-index: -1;
}

.background_tablet {
  z-index: 10;
  max-width: 100%;
  position: relative;
}

.curveBackground {
  padding-top: 5%;
}

#positionsUl li {
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  margin-bottom: 17.5px;
  line-height: 20px;
}

#positionsUl li:nth-child(1) {
  list-style-image: url("../../static/globe2.svg");
  color: #222b45;
}

#positionsUl li:nth-child(2) {
  list-style-image: url("../../static/heart2.svg");
  color: #222b45;
}

#positionsUl li:nth-child(3) {
  list-style-image: url("../../static/fire2.svg");
  color: #222b45;
  position: relative;
  left: -3px;
  padding-left: 3px;
}

#positionsUl li:nth-child(4) {
  list-style-image: url("../../static/gift2.svg");
  color: #222b45;
  position: relative;
  left: -3px;
  padding-left: 3px;
}

#positionsUl li:nth-child(1) {
  list-style-image: url("../../static/globe2.svg");
  color: #222b45;
}

#positionsUl li:nth-child(2) {
  list-style-image: url("../../static/heart2.svg");
  color: #222b45;
}

#positionsUl li:nth-child(3) {
  list-style-image: url("../../static/fire2.svg");
  color: #222b45;
}

#positionsUl li:nth-child(4) {
  list-style-image: url("../../static/gift2.svg");
  color: #222b45;
}

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .curveBackgroundBottom {
    bottom: 0vh;
  }

  .background_mobile {
    display: none;
  }

  .background_tablet {
    max-width: 100%;
    position: relative;
    float: right;
    bottom: 0;
  }
}

/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .curveBackground {
    background-image: url("../../static/curveBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -30px;
  }

  .curveBackgroundBottom {
    bottom: -20vh;
  }

  .footerText {
    text-align: right;
  }
}

/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .curveBackground {
    background-image: url("../../static/curveBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logoHeader {
    width: 200px;
    height: 42px;
  }

  .footerText {
    text-align: right;
  }

  .logoFooter {
    width: 60px;
    height: 60px;
  }
}

/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .curveBackground {
    background-image: url("../../static/curveBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15%;
    top: -120px;
  }

  .scroll {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    color: #222b45;
    text-align: center;
    margin: auto;
    margin-top: -250px;
    transition-delay: 0.5s;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  .title {
    font-size: 36px;
  }

  .leftContent {
    width: 54%;
    margin: auto;
  }

  .background_tablet {
    max-width: 70%;
    position: relative;
    float: right;
  }

  .footerText {
    text-align: right;
  }
}

.containerMap {
  width: 100vw;
  height: 100vh;
}

.containerMap .amcharts-bg {
  color: #000;
}

.containerMap #map {
  background-color: #f2f6ff !important;
}

.mapabg #map {
  background-color: #f2f6ff !important;
}

flights-map::part(div) {
  background-color: red !important;
}