@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.body {
  min-height: 83vh;
  position: relative;
}

.leftContent {
  z-index: 10;
  padding: 0px 15px;
}
.header{
  margin: 15px;
}
.footer-Text{
  float: right;
}
.background_mobile {
  max-width: 100%;
  position: relative;
  top: -11vh;
}
.title {
  height: 144px;
  width: 457px;
  color: #222B45;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}
.footer {
  padding: 0px 15px;
  height: 13vh;
  position: absolute;
  width: 100%;
}
.subTitle {
  height: 80px;
  width: 360px;
  color: #222B45;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}

.separator {
  border-top: 1px solid #e4e9f2;
}

.footerText {
  color: #8f9bb3;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  align-items: center !important;
}
.logoHeader {
  width: 135px;
  height: 42px;
}
.logoFooter {
  width: 40px;
  height: 40px;
}

.background_mobile {
  z-index: -1;
}

.background_tablet {
  z-index: 10;
  max-width: 100%;
  position: relative;
}
/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .background_mobile {
    display: none;
  }
  .background_tablet {
    max-width: 100%;
    position: relative;
    float: right;
  }
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footerText {
    text-align: right;
  }
}
/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header{
    display: flex;
    flex-direction:row;
    margin: 40px;
    margin-bottom: 0px;
  }

  .navigator{
    display: flex;
    justify-content: space-evenly;
    font-family: "Open Sans";
    font-size: 12px;
    /* color: red; */
    width: 531px;
    height: 16px;
    /* background-color: chartreuse; */
  }
  
  .logoHeader {
    width: 200px;
    height: 42px;
  }

  .footer {
    padding: 0px 40px;
  }
  
  .footerText {
    text-align: right;
  }

  .logoFooter {
    width: 60px;
    height: 60px;
  }

  .titleContainer{
    height: 250px;
    width: 457px;
  }

  .curveBackground{
    background-image: url('../../static/curveBackground.png');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .yourDreamContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 554px;  
  }

  .cardContainer{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
  }

  .cardBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 360px;
    border: 1px solid #FBFBFB;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(35,35,35,0.08);
    align-items: center;
    justify-content: space-evenly;
    
  }

  .cardTitle{
    height: 16px;
    color: #222B45;
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    /* margin-top: 40px; */
  }

  .cardSubtitle{
    height: 24px;
    width: 240px;
    color: #222B45;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
  }

  .cardImg{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cardInfo{
    height: 80px;
    width: 280px;
    color: #222B45;
    font-family: "Open Sans";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
  }

  .caseStudiesSection{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .caseStudiesContainer{
    width: 1141px;
    height: 631px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hoverImg:hover{
    opacity: 0.35;
    background-color: black;
  }

  .StartsWithWhySection{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .PartnerSection{
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1500px;
  }

  .PartnerContainer{
    display: flex;
    flex-direction: row;
    /* flex-direction: column;
    flex-wrap: wrap;*/
    align-items: center;
    justify-content: center; 
    /* height: 1200px;
    width: 100vw; */
    /* background-color: rgb(104, 95, 114); */
  }
}
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
  .leftContent {
    width: 54%;
    margin: auto;
  }
  .background_tablet {
    max-width: 80%;
    position: relative;
    float: right;
  }
  .footerText {
    text-align: right;
  }
}