.backgroudWhoWeAre{
  background-color:#FFFFFF;
  padding: 0px;
}
.WhoTitle {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  text-align: center;
}

