@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.wereHiringMobile {
  background-image: url("../../../static/hiringMobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.wereHiringTablet {
  background-image: url("../../../static/hiringTablet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: none;
}

.wereHiringDesktop {
  background-image: url("../../../static/hiringDesktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: none;
}

.ContentRight {
  display: flex;
  flex-direction: column;
}

.Title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  font-family: "Open Sans";
}

.listItem {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}

.ulIconWork li {
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  margin-bottom: 17.5px;
  line-height: 20px;
}

.Button {
  height: 40px;
  width: 132px;
  border-radius: 34px;
  background-color: #edf1f7;
  font-size: 14px;
}

.QuoteCaption {
  color: white;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}

.HiringCaption {
  color: #0095ff;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16px;
}

.pulsatingDot {
  margin: auto;
  margin-left: unset;
  animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  background-color: var(--pulsating-dot, #0095ff);
  border-radius: 50%;
  box-sizing: border-box;
  height: 8px;
  width: 8px;
}

.pulsatingDot:before {
  animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  background-color: var(--pulsating-dot, #0095ff);
  border-radius: 45px;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  position: relative;
  top: -100%;
  width: 300%;
}

@keyframes pulseRing {
  0% {
    transform: scale(0.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulseDot {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.Autor {
  color: white;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: "italic";
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}

.imageMobile {
  display: flex;
}

.imageTablet {
  display: none;
}

.imageDesktop {
  display: none;
}

.ulIconWork li:nth-child(1) {
  list-style-image: url("../../../static/globe.svg");
  color: white;
}

.ulIconWork li:nth-child(2) {
  list-style-image: url("../../../static/heart.png");
  color: white;
}

.ulIconWork li:nth-child(3) {
  list-style-image: url("../../../static/fire.svg");
  color: white;
  position: relative;
  left: -3px;
  padding-left: 3px;
}

.ulIconWork li:nth-child(4) {
  list-style-image: url("../../../static/gift.svg");
  color: white;
  position: relative;
  left: -1px;
  padding-left: 1px;
}

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wereHiringMobile {
    display: none;
  }

  .wereHiringTablet {
    display: flex;
  }
}

/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wereHiringDesktop {
    display: flex;
  }

  .wereHiringTablet {
    display: none;
  }
}

/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}