.formMessage {
  background-color: #f7f9fc;
  border-color: f7f9fc;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border-style: solid;
}
.popContainer {
  background-color: rgba(51, 51, 255, 0.8) !important;
  opacity: 1 !important;
}
.formContainerModal {
  margin: 5% 0%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #fbfbfb;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgb(35 35 35 / 8%);
}
/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* 
// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
