@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.cardContainerChallenge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.iconStyleChallenge {
  background-color: #3333ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
  width: 95px;
}

.captionChallenge {
  /* color: black; */
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 5%;
}

.headlineChallenge {
  /* color: white; */
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.paragraphChallenge {
  /* color: white; */
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  margin: 0% 9% 0% 9%;
}
