@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.bg-blue {
  border-radius: 10px;
  background-color: #3333ff;
  box-shadow: 0 10px 20px 0 rgba(35, 35, 35, 0.08);
}

.who-p {
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
.border-dashed {
  height: 2px;
  width: 100%;
  border: 1px dashed #000000;
  opacity: 0.3;
}
.know-us-title {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}
.know-us-p {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}
.know-us-small {
  color: #1f1f1f;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}
.know-us-subTitle {
  color: #1f1f1f;
  font-family: "Open Sans";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}
.chose-small {
  color: #1f1f1f;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}
.chose-p {
  color: #1f1f1f;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0;
  line-height: 16px;
}
.slider-ppl {
  color: #3333ff;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
.slider-ppls {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
.img-Team {
  min-height: 357px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(35, 35, 35, 0.08);
}
.img-Team img {
  border-radius: 8px;
}

.title-Position {
  color: #3333ff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}
.name {
  color: #222b45;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.cardMobile {
  display: flex;
}

.cardTablet {
  display: none;
}

.cardDesktop {
  display: none;
}

@media (min-width: 768px) {
  .img-Team {
    height: 428px;
  }
  .cardMobile {
    display: none;
  }
  .cardTablet {
    display: flex;
  }
}

@media (min-width: 992px) {
  .cardMobile {
    display: none;
  }
  .cardTablet {
    display: none;
  }
  .cardDesktop {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .img-Container {
    position: relative;
    width: 100%;
    height: 563px;
    max-width: 100%;
  }
}
